body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: crimson;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: crimson;
}