body{
    background-color: indigo;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: crimson;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: crimson;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: crimson;
}

button{
    font-family: poppins;
    font-weight: bold;
    color: crimson;
    padding: 15px;
}